
using system
@{
    ViewBag.Title = "ArtistRecordingsInGenre";
}

<h2>Artist Recordings In Genre</h2>
<div class="message">
    <p>@Html.Encode(ViewBag.Message1)</p>
    <p>@Html.Encode(ViewBag.Message2)</p>
    <p>@Html.Encode(ViewBag.Message3)</p>
</div>
